#! /usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk


DOCDIR=htmldoc
HELPXML=$(DOCDIR)/tidy-help.xml

makebuilddir/tidy-html5::
	sh build/gnuauto/setup.sh

build/tidy-html5::
	## Generate manpage from tidy output
	LD_LIBRARY_PATH=$(CURDUR)/src/.libs/ \
		$(CURDIR)/console/tidy -xml-help > $(HELPXML)
	/usr/bin/xsltproc -o debian/tidy.1 $(DOCDIR)/tidy1.xsl $(HELPXML)

clean::
	## Clean up generated manpage
	rm -f debian/tidy.1
	rm -f       Makefile.am
	rm -f       Makefile.in
	rm -f       aclocal.m4
	rm -f       config.guess
	rm -f       config.sub
	rm -f       configure
	rm -f       configure.in
	rm -f       console/Makefile.am
	rm -f       console/Makefile.in
	rm -f       depcomp
	rm -f       include/Makefile.am
	rm -f       include/Makefile.in
	rm -f       install-sh
	rm -f       ltmain.sh
	rm -f       missing
	rm -f       readme.txt
	rm -f       setup.sh
	rm -f       src/Makefile.am
	rm -f       src/Makefile.in
